{:journal-basis "daily" 

 :project {
           ;; Selected public notes can be published to https://logseq.com/your-project-or-your-username.
           :name ""
           :alias ""
           ;; your twitter handle
           :twitter ""
           ;; description supports both hiccup and html
           :description ""}
 
 ;; zxs publish test
 :all-pages-public? true
 ;; :default-home {:page "雪杉非狐的 logseq 笔记"
 ;;                :sidebar "Contents"}
 :date-formatter "yyyy-MM-dd"
 
 ;; Currently, we support either "Markdown" or "Org".
 ;; This can overwrite your global preference so that
 ;; maybe your personal preferred format is Org but you'd
 ;; need to use Markdown for some projects.
 ;; :preferred-format ""

 ;; Git settings
 :git-pull-secs 10
 :git-push-secs 10
 :git-auto-push true

 ;; The app will ignore those directories or files.
 ;; E.g. "/archived" "/test.md"
 :hidden []

 ;; When creating the new journal page, the app will use your template content here.
 ;; Example for Markdown users: "## [[Work]]\n###\n## [[Family]]\n###\n
 ;; Example for Org mode users: "** [[Work]]\n***\n** [[Family]]\n***\n
 :default-templates
 {
 ;; :journals "## 本日计划\n### 9:00 book1\n### 11:00 运动\n### 14:00 book2\n## 本日实际\n### 9:00-10:15 [[]]\n### 12:00-12:45 [[]]\n### 14:00-16:30 [[]]\n### \n"
  }

 ;; The app will show those queries in today's journal page,
 ;; the "NOW" query asks the tasks which need to be finished "now",
 ;; the "NEXT" query asks the future tasks.
 :default-queries
 {:journals
  [{:title "🔨 NOW"
    :query [:find (pull ?h [*])
            :in $ ?start ?today
            :where
            [?h :block/marker ?marker]
            [?h :block/page ?p]
            [?p :page/journal? true]
            [?p :page/journal-day ?d]
            [(>= ?d ?start)]
            [(<= ?d ?today)]
            [(contains? #{"NOW" "DOING"} ?marker)]]
    :inputs [:14d :today]
    :result-transform (fn [result]
                        (sort-by (fn [h]
                                   (get h :block/priority "Z")) result))
    :collapsed? true}
   {:title "📅 NEXT"
    :query [:find (pull ?h [*])
            :in $ ?start ?next
            :where
            [?h :block/marker ?marker]
            [?h :block/ref-pages ?p]
            [?p :page/journal? true]
            [?p :page/journal-day ?d]
            [(> ?d ?start)]
            [(< ?d ?next)]
            [(contains? #{"NOW" "LATER" "TODO"} ?marker)]]
    :inputs [:today :7d-after]
    :collapsed? true}]}

 ;; Add your own commands to speedup.
 ;; E.g. [["js" "Javascript"]]
 :commands
 []

 ;; Macros replace texts and will make you more productive.
 ;; For example:
 ;; Add this to the macros below:
 ;; {"poem" "Rose is $1, violet's $2. Life's ordered: Org assists you."}
 ;; input "{{{poem(red,blue)}}}"
 ;; becomes
 ;; Rose is red, violet's blue. Life's ordered: Org assists you.
 :macros {}
 :feature/enable-block-time? true
 :feature/enable-timetracking? true
 :feature/enable-encryption? false
 :markdown/version 2
 :editor/logical-outdenting? true
 :graph/settings {:journal? false, :builtin-pages? false, :orphan-pages? true}
 :feature/enable-block-timestamps? true}